body
{
    background-color:gold;
}
/*style for burger pic*/
.burgerPic
{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
/*burger title css*/
#title
{
    color: crimson;
    text-align: center;
}
#burgername
{
    height: 60px;
    width: 280px;
}

#devour
{
    display: none;
}
#notdevour
{
    display: none;
}
.wait
{
    background-color: wheat;
    height: 30px;
    margin-bottom: 5px;
    float: left;
    width: 230px;
    margin-right: 3px;
}
.nowait
{
    background-color: white;
    color: grey;
    height: 25px;
    margin-bottom: 1px;
    float: left;
    width: 230px;
    margin-right: 3px;
}
.list
{
    list-style-type: none;
}